body,html {
    background-color: #dc3545;
    height: 100%;
}

div.main-wrapper {
    background-color: white;
    margin: 25px;
    overflow: hidden;
    height: fit-content;
}

/* Navigation */

header.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

a:not([href]):not([tabindex]) {
    color: white;
}

a.navLink {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding: 5px 10px;
    font-family: 'Chewy', cursive;
    background-color: #dc3545;
    color: white;
    border: 2px solid #dc3545;
}

a:not([href]):not([tabindex]):hover {
    color: #dc3545;
}

a.navLink:hover {
    background-color: white;
    cursor: pointer;
    color: #dc3545;
    text-decoration: none;
}

div#brand {
    text-align: center;
}

span#brandText {
    position: relative;
    font-family: 'Chewy', cursive;
    font-size: 50px;
    color: #dc3545;
}

span#currentDate, span#festivalDate {
    position: relative;
    font-family: 'Chewy', cursive;
    display: block;
}

/*Image*/

/*Register Form*/

div.form-ctn {
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

form.input-group {
    background-color: #dc3545;
}

div#formContainer {
    margin-top: 25px;
}

div#formInput {
    width: 60%;
    display:inline-block;
    background-color: #dc3545;
    padding:20px 10px;
}

input.form-control {
    width: 100%;
    height: 100%;
    font-family: 'Chewy', cursive;
    border-radius: 0%;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:2px solid #dc3545 ;
}

inpit.form-control:focus {
    border-color: green;
}

div#formButton {
    width:40%;
    display:inline-block;
    background-color: #dc3545
}

button.btn {
    width: 100%;
    border: 4px solid #dc3545;
    font-family: 'Chewy', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    padding:25px 10px;
    border-radius: 0%;
}

button.btn:hover {
    background-color:white;
    color: #dc3545;
}

/* About Section */

.container {
    padding: 25px 30px;
}

.font {
    font-family: 'Chewy', cursive;
}

span.about-span {
    color:#dc3545;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 50px;
    color: #dc3545
}



#aboutText {
    font-size: 25px;
}

/* @media Querys*/


@media only screen and (max-width: 1200px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}


